*.java
*.class
_minted*
svg-inkscape
*.tex
*.bbl
*.10.vrb
*.11.vrb
*.12.vrb
*.13.vrb
*.14.vrb
*.15.vrb
*.16.vrb
*.17.vrb
*.18.vrb
*.19.vrb
*.20.vrb
*.21.vrb
*.22.vrb
*.23.vrb
*.24.vrb
*.27.vrb
*.28.vrb
*.4.vrb
*.5.vrb
*.6.vrb
*.7.vrb
*.8.vrb
*.9.vrb
*.aux
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.nav
*.run.xml
*.snm
*.toc
*.xdv
