*.java
*.class
_minted*
svg-inkscape
*.tex
*.bbl
*.vrb
*.aux
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.nav
*.run.xml
*.snm
*.toc
*.xdv
/.clj-kondo/
/.cpcache/
/.lsp/
/ltximg/
/plantuml.jar
/.nrepl-port
*.pdf
